# rust
/target
Cargo.lock

# misc
.DS_Store
memfile
.vscode
.devcontainer
/test/

/results/*
!/results/remote_ma/
!/results/keep/
!/results/*.ipynb
!/results/remote.sh

# linux kernel
*.cmd
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.a
modules.order
hda.qcow2
Module.symvers
